<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <!--获取配置属性信息-->
    <property name="appName" value="ipring-project"/>
    <!--定义日志文件的存储地址，根路径下logs目录-->
    <property name="logDir" value="/logs/${appName}" />

    <!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %yellow([%X{traceId:--}][%X{uid:--}][%X{reqIp:--}][%t]) %highlight(%-5level) %magenta(%logger{30}:%-3L) -- %m%n"/>
    <!-- 控制台彩色日志输出设置 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!--此日志appender是为开发使用，只配置最底级别，控制台输出的日志级别是大于或等于此级别的日志信息-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <!--encoder 默认配置为PatternLayoutEncoder-->
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>


    <!--按照每天生成所有日志文件-->
    <!--<appender name="LOG_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/${appName}-all.log</file>
        &lt;!&ndash;滚动策略&ndash;&gt;
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            &lt;!&ndash;日志文件输出的文件名&ndash;&gt;
            <fileNamePattern>${logDir}/${appName}-all.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            &lt;!&ndash;日志文件大小&ndash;&gt;
            <maxFileSize>100MB</maxFileSize>
            &lt;!&ndash;日志文件保留天数&ndash;&gt;
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        &lt;!&ndash;encoder 默认配置为PatternLayoutEncoder&ndash;&gt;
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>-->


    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <!--<appender-ref ref="LOG_ALL" />-->
        </root>
    </springProfile>
    <springProfile name="test,prod">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <!--<appender-ref ref="LOG_ALL" />-->
        </root>
    </springProfile>
</configuration>