<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ipring.mapper.UserMapper">

    <select id="getUserNameById" resultType="string">
        SELECT name FROM sys_user where id = #{id}
    </select>
    <select id="getUserByUser" resultType="string">
        SELECT name FROM sys_user where id = #{id} and name = #{name}
    </select>
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user(name, phone) VALUES (#{name}, #{phone})
    </insert>
    <select id="getUserByUserList" resultType="string">
        SELECT name FROM sys_user where
        <foreach collection="list" item="item" index="index" separator="or">
            id = #{item.id} and name = #{item.name}
        </foreach>
    </select>
</mapper>
