<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ipring.jacg.mapper.ClassAnnotationMapper">
    <select id="selectByClassAndAnno" resultType="org.ipring.jacg.mapper.po.JacgClassAnnotationPO">
        SELECT simple_class_name, attribute_value
        FROM jacg_class_annotation_jacg
        WHERE simple_class_name = #{simpleClassName} and annotation_name = #{annotationName}
    </select>


    <select id="selectAllFormatedSql" resultType="org.ipring.jacg.mapper.po.JacgFormatedSqlVO">
        SELECT CONCAT(mapper_class_name, ':', sql_id) AS mapper_sql_id,
               formated_sql
        FROM jacg_mybatis_ms_formated_sql_jacg
        where formated_sql IS NOT NULL
          and formated_sql != ''
    </select>
</mapper>