<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ipring.jacg.mapper.ClassAnnotationMapper">
    <select id="selectByClassAndAnno" resultType="org.ipring.jacg.mapper.po.JacgClassAnnotationPO">
        SELECT simple_class_name, attribute_value
        FROM jacg_class_annotation_jacg
        WHERE simple_class_name = #{simpleClassName} and annotation_name = #{annotationName}
    </select>
</mapper>